#pokemonCanvas {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 3;
}

img.pokemon {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	position: absolute;
	image-rendering: pixelated;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 2;
}

.collision {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 999;
}

.bubble {
	image-rendering: pixelated;
	position: absolute;
	text-align: center;
	margin: auto;
	opacity: 0;
	animation: fadeIn 0.2s forwards;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateX(50%) translateY(10px);
	}

	100% {
		opacity: 1;
		transform: translateX(50%) translateY(0);
	}
}

.bubble-nano {
	width: 15px;
}

.bubble-small {
	width: 22.5px;
}

.bubble-medium {
	width: 30px;
}

.bubble-large {
	width: 37.5px;
}

/* Manually adjust the size teh bubble on 64x64px pokemon. Quick fix for now, TODO */
.bubble-nano.b-64 {
	margin-left: 15px;
}

.bubble-small.b-64 {
	margin-left: 22.5px;
}

.bubble-medium.b-64 {
	margin-left: 30px;
}


.bubble-large.b-64 {
	margin-left: 37.5px;
}
